* {
    box-sizing: border-box;
}

body {
    background-color: #f2f2f2;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    /* color: red; */
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    background: linear-gradient(90deg, #1a0cd9 1.18%, #0eebd5 100%);
    padding: 20px;
    color:white;
}
main {
    display: flex;
    align-items: center;
    background: linear-gradient(-90deg, #1a0cd9 1.18%, #0eebd5 100%);
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 36px;
}

.main-display {
    width: 100%;
    height: 100%;
    background-color: aqua;
    padding: 36px;
    /* display: block; */
    /* align-items: center; */
    /* justify-content: center;
    align-content: center; */
}

.question-display {
    width: auto;
    /* background-color:  aqua; */
    border-radius: 5px;
    /* padding: 10px; */
    margin: 1px;
}
.question {
    height: 120px;
    /* padding: 36px; */
    margin: 0;
    margin-top: 0;
}
.answers {
    display: flex;
    gap: 25px;
    margin: 0;
    margin-top: 0;
    margin-left: 5%;
}
.answer {
    width: 60px;
    height: 30px;
    background-color: #474a02;
    color: white;
    border-radius: 5px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    background-color: #474a02;
    border-radius: 5px;
    margin-left: 35%;
    height: 30px;
    color: white;
}